.App {
  text-align: center;
}

.page {
  width: 50%;
  align-content: center;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  
}

.inputs {
  width: 50%;
  align-content: center;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

form {
  padding: 20px;
}

h3 {
  padding-top: 20px;
}